<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <form class="login-form validate-form" name="loginForm">
                <div class="login-frame">
                    <div class="login-logo"></div>
                    <div class="login-main-form">
                        <div class="login-form-heading">
                            <span class="login-form-lock"></span>
                            <span class="login-form-title p-b-43">
                                Welcome Back
                            </span>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="wrap-input validate-input">
                                <span class="user"></span>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                            <div class="wrap-input validate-input mb-0">
                                <span class="password"></span>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="forget">
                                    <a href="#">
                                        Forgot Password?
                                    </a>
                            </div>
                        </div>
                        <div class="container-login-form-btn">
                            <button class="login-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
                <div class="text-center p-t-46 p-b-20">
                    <span class="sign-up-text">
                        Don’t have an Account? <span class="bold-black">Sign Up</span>
                    </span>
                </div>
            </form>
            <div class="login-more">
                <div class="login-text">
                    <div class="login-bold-text">
                        <div class="d-flex">
                            <pre class="fw-bold">Digital </pre>
                            <pre>Platform</pre>
                        </div>
                        <div class="d-flex">
                            <pre>for distance </pre>
                            <pre class="fw-bold">learning</pre>
                        </div>
                    </div>
                    <div class="login-small-text">
                        <pre>Internet and online based digital technologies such as desktop computers, mobile phones and other</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>